.flow {
    margin-bottom: 30px;
}
.label {
    color: white;
    position: absolute;
    padding-left: 36px;
    padding-top: 44px;
    font-size: 15px;
}

.input-text {
    color: black;
    position: absolute;
    padding-left: 12px;
    padding-top: 37px;
    font-size: 15px;
    width: 70px;
}

input {
    width: 100px;
}