.process {
    /* cursor: pointer; */
}

.label {
    color: white;
    position: absolute;
    padding-left: 45px;
    padding-top: 30px;
    font-size: 15px;
}

.input-text {
    color: black;
    position: absolute;
    padding-left: 45px;
    padding-top: 30px;
    font-size: 15px;
    width: 70px;
}