<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 left-menu">
            <div class="left-menu-heading" (click)="stopEdit()">
                Shapes
            </div>
            <div class="shapes-container">
                <app-process></app-process>
                <app-document></app-document>
                <app-flow></app-flow>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="left-menu-heading">
                Canvas
                <div class="export-button">
                    <button (click)="exportJSON()" [disabled]="elementsDataList.length === 0">Export JSON</button>
                </div>
            </div>
            <div id="editor-container" (dragover)="allowDrop($event)" (drop)="onDrop($event)">
                <!-- <canvas id="editor-canvas" width="100%" height="100%">
                </canvas> -->
                <div *ngIf="processList.length > 0">
                    <app-process-movable-renameable *ngFor="let p of processList"></app-process-movable-renameable>
                </div>
                <div *ngIf="documentList.length > 0">
                    <app-document-movable-renameable *ngFor="let p of documentList"></app-document-movable-renameable>
                </div>
                <div *ngIf="flowList.length > 0">
                    <app-flow-movable-renameable *ngFor="let p of flowList"></app-flow-movable-renameable>
                </div>
            </div>
        </div>
    </div>
</div>