.left-menu {
    border-right: 1px solid #ccc;
    min-height: 90vh;
}
.left-menu-heading {
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
}
.export-button {
    float: right;
}

button {
    border-radius: 8px;
    font-size: 16px;
    padding: 3px 30px;
}

.shapes-container {
    padding-top: 20px;
    padding-left: 37px;
}

#editor-container {
    margin-top: 15px;
    height: 80vh;
    /* border: 1px solid red; */
}
